<div class="demo-flex-display oj-flex-items-pad">
    <div class="oj-flex">
        <div class="oj-flex-item">
            <h1>Welcome to SoarPoints</h1>
            <h3>Your loyalty program</h3>
        </div>
        <div class="oj-sm-flex-initial oj-flex-item">
            <H3>Status</H3>
            <H1>
                <span data-bind="text: statusTier"></span>
            </H1>
            <div id="picto-container">
              <oj-picto-chart id='pictochart1' items="[[pictoChartItems]]" animation-on-display="auto" column-count="4" style="vertical-align:middle; margin-right:15px">
              </oj-picto-chart>
            </div>
        </div>
        <div class="oj-sm-flex-initial oj-flex-item">
            <H3>Points</H3>
            <H1>
                <span data-bind="text: pointsBalance"></span>
            </H1>

        </div>
    </div>

    <div class="oj-flex">
        <div class="oj-flex-item">
            <H2>Transaction History</H2>
        </div>
    </div>
    <div class="oj-flex">
        <div class="oj-flex-item">
            <oj-table id='table' aria-label='Departments Table' data='[[datasource]]' columns-default.sortable='disabled' columns='[{"headerText": "Order Id", 
                           "field": "orderId",
                           "headerClassName": "oj-sm-only-hide",
                           "className": "oj-sm-only-hide"},
                          {"headerText": "Order Value", 
                           "field": "orderNetValue"},
                          {"headerText": "Loyalty Points", 
                           "field": "loyaltyPoints",
                           "headerClassName": "oj-sm-only-hide",
                           "className": "oj-sm-only-hide"},
                          {"headerText": "Date", 
                           "field": "movementDate"}]' style='width: 100%; height:100%;'>
            </oj-table>
        </div>
    </div>
</div>



<!-- <h2>Product Catalog</h2>
<p>Current user:<span data-bind="text: username"></span> (customer identifier =<span data-bind="text: customerIdentifier"></span> )</p>
(from the Oracle JET Application 2018-products-portal-soaring-clouds-sequel, view catalog.html)
<oj-list-view id="listview" aria-label="list using array" data="[[dataProvider]]" selection-mode="single" on-selection-changed="[[handleSelectionChanged]]" item.renderer="[[oj.KnockoutTemplateUtils.getRenderer('product_template', true)]]">
</oj-list-view>
<script type="text/html" id="product_template">
    <li data-bind="attr: {id: $data['name']}">
        <div class="oj-flex">
            <div class="oj-lg-10 oj-md-10 oj-sm-12">
                <div class="oj-flex row">
                    <div class="oj-lg-12">
                        <span class="header" data-bind="text: name"></span>
                    </div>
                </div>
            </div>
        </div>
    </li>
</script> -->